{% block navBar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mb-0 h1" href="/">Link Shortener</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ShortLinks:statistics' %}">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Not Implemented yet</a>
                </li>
            </ul>
        <div class="form-inline">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ShortLinks:profile' %}">{% if user.is_authenticated %}{{ user.username }}{% else %}Profile{% endif %}</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ShortLinks:logout' %}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        </div>
    </nav>
{% endblock %}